.place__paragraphs {
    grid-area: paragraphs;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place__paragraphs {
        align-self: center;
    }
}
