.lead__graph {
    position: absolute;
    top: 21%;
    left: 4%;
    width: 95%;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .lead__graph {
        position: absolute;
        top: 41px;
        left: 13px;
    }
}

